[2014-07-06 15:01] kimroen opened #1 "Add the coffeescript compiler itself"

[2014-07-06 15:05] kimroen opened #2 "Support Router.map with parenthesis around the function"
`ember g route` and `ember g resource` adds entries to the router.
Currently routes and resources will be correctly added with maps like this:

[code]

But not like this:

[code]

Both are valid and should work.

[2014-07-06 15:14] #1 closed, assigned to nobody

[2014-07-11 10:08] kimroen opened #4 "Generating a route that exists adds a duplicate in `router.coffee`"
Add a check for the generated route or resource before adding it to `router.coffee`.

This has been fixed already in ember-cli, needs adopting for `.coffee`. https://github.com/stefanpenner/ember-cli/pull/1042

[2014-07-13 08:49] klclee opened #5 "using with ember cli 0.37"
Hi is the first time I am using this. When I start a new project and simply do `ember server` (after installing this ofc `npm install --save-dev ember-cli-coffeescript`) i get the following error:

[code]

[2014-07-13 19:42] #4 closed, assigned to nobody

[2014-07-13 19:42] #5 closed, assigned to nobody

[2014-07-27 20:18] sagioto opened #7 "Add source maps"
Not sure if this can be addressed in here or by the broccoli-coffee maintainers, but source maps would be a huge help

[2014-07-31 21:39] Myztiq opened #8 "License"
Can you add a license to this project? Preferably MIT to match most of the other ember-cli projects?

[2014-08-01 09:02] #8 closed, assigned to nobody

[2014-08-04 09:53] kimroen opened #9 "Generating Services doesn't work"
The [generated initializer file](https://github.com/kimroen/ember-cli-coffeescript/blob/master/blueprints/service/files/app/initializers/__name__.coffee#L1) is missing an equals-sign.

[2014-08-04 17:08] #9 closed, assigned to nobody

[2014-08-26 16:06] webhive opened #11 "Issue with temporary files after upgrade to ember-cli 0.41"
Upgraded application to ember-cli 0.41 according this https://github.com/stefanpenner/ember-cli/releases/tag/v0.0.41. Now got this error on application start:

[code]

[2014-08-26 17:20] #11 closed, assigned to nobody

[2014-08-28 09:08] sandstrom opened #12 "Installation failure"
I get the following issue when trying to install ember-cli-coffeescript.

Any thoughts on what I may be doing wrong?

[code]

[2014-08-30 16:02] #12 closed, assigned to kimroen

[2014-09-02 02:23] emguide opened #13 "generating components results creates components with the wrong name"
[code]

[2014-09-02 21:00] #13 closed, assigned to nobody

[2014-09-03 18:36] chrisvdp opened #14 "http-mock/http-proxy"
Is there a reason that there are no http-mock/http-proxy blueprints or are they just not implemented yet?

[2014-09-03 19:49] #14 closed, assigned to nobody

[2014-09-26 17:33] jdreux opened #16 "Generation problems when using ember-cli-coffeescript"
All commands that generate test files have an issue where a tests/unit/.../name.js and a tests/unit/.../name.coffee both get generated. Example:

$ ember g route library
version: 0.0.46
installing
  create app/routes/library.coffee
  create app/templates/library.hbs
  create tests/unit/routes/library-test.coffee
installing
  create tests/unit/routes/library-test.js
Error happens when building

$ e

[2014-09-29 17:19] #16 closed, assigned to nobody

[2014-10-07 14:16] rpieciorak opened #17 "invalid export in initializer blueprint"
[code]

breaks the build

https://github.com/toxy/ember-cli-coffeescript/commit/4e9696e01e33c14503ebced58df70cb9f3405eef

[2014-10-08 01:14] CodisRedding opened #19 "Error when generating a controller without type option"
Referencing closed issue: https://github.com/stefanpenner/ember-cli/issues/2134#issuecomment-58289669

[code]

[code]

[code]

[2014-10-08 11:23] #19 closed, assigned to kimroen

[2014-10-08 11:28] #17 closed, assigned to nobody

[2014-10-08 12:26] kimroen opened #20 "The controller generator generates js-files"
Looks like the workaround didn't work as intended. Taking a look at.

[2014-10-08 16:03] #20 closed, assigned to kimroen

[2014-10-14 10:31] alexphys opened #21 "Generator for resource"
When I run

I got an error saying

This happens only when I'm trying to generate a resource. When trying to generate a route all is working perfectly, a route is being added inside my router.coffee file and the route and template files are being generated perfectly as coffee.

Anyone else noticed this?

[2014-10-21 15:11] artsyca opened #22 "Pod support for generators"
We're using ember-cli-coffescript in a workflow that makes heavy use of `ember g ...`

Things are working really well in that the files that are generated are very useful and the coffeescript is being generated very nicely.

However, we've run into an issue that we can't use the `--pod` flag as yet. So we're pulling our files into a pods file structure manually.

Is this something that can be inco

[2014-10-21 19:16] #22 closed, assigned to kimroen

[2014-10-29 16:06] masciugo opened #23 "The resource generator generates js-files"
With ember-cli  0.1.2 and ember-cli-coffeescript 0.2.0 resource generator generates js-files and look for a  router.js file to update.

[2014-10-29 16:08] #23 closed, assigned to nobody

[2014-11-02 00:15] intuitivepixel opened #24 "Coffee script preprocessor not hooked up with ember-cli 0.1.2"
I'm using `ember-cli 0.1.2` in tandem with the `ember-cli-coffeescript`, but the doesn't register correctly in the cli registry. As a hack I manually added this line into [`ember-cli/lib/preprocessors.js`](https://github.com/stefanpenner/ember-cli/blob/master/lib/preprocessors.js)

[code]

then it started working. I guess it might be some issue with a recent change in the ember-cli API?

Thanks,
A

[2014-11-02 13:31] #24 closed, assigned to nobody

[2014-11-05 09:32] kimroen opened #26 "Update to the newest broccoli-coffee"

[2014-11-21 19:19] e00dan opened #30 "Files aren't generated in proper directories"
[code]

Instead of app/templates/xyz.hbs. Same with view etc.

[2014-11-21 21:44] #30 closed, assigned to nobody

[2014-11-22 19:16] #26 closed, assigned to kimroen

[2014-11-26 15:16] ksol opened #31 "Allow generators to keep generating .js files"
Hello,

I have a simple use case: I'd like one or two files (js objects containing i18n translations) to be in coffee-script because it's more terse. However, with my team we've agreed to not use coffee-script for application code (for various reasons).

So my question is: is there a way with this addon (or any other, by the way) to add coffee-script discovery/precompilation without having the gen

[2014-12-02 10:21] amk221 opened #32 "Generating a model-test leaves <%=placeholders%>"
This is what is generated:

[code]

Generating a model (and therefore also its model-test) works fine

[2014-12-05 16:38] shaunc opened #33 "support .litcoffee"
It would be great if you could target ".litcoffee" as well. Litcoffee is the main reason I'm not switching to es6.

[2014-12-06 00:17] #33 closed, assigned to nobody

[2014-12-06 00:22] shaunc opened #34 "Mocha tests"
When I added ember-cli-mocha, my tests don't come out in coffee. (Would seem a pain to support lots of different testers, but would seem that ember-cli in general should support dependencies and peer dependencies between add-ons -- perhaps you shouldn't be supporting test generation at all, but that should be split off into an additional dependency?)

Thought I'd raise the issue....

[2014-12-07 21:44] #34 closed, assigned to nobody

[2014-12-07 21:45] kimroen opened #35 "Integrate the changes from ember-cli 0.1.4"

[2014-12-07 21:57] #35 closed, assigned to nobody

[2014-12-08 00:00] #31 closed, assigned to nobody

[2014-12-09 12:27] rwjblue opened #38 "Add `server` blueprint, and remove from http-mock and http-proxy blueprint."
In Ember CLI 0.1.4 both `http-mock` and `http-proxy` use the same `server` blueprint (and do not have separate/diverged implementations). See:
- https://github.com/stefanpenner/ember-cli/blob/v0.1.4/blueprints/http-mock/index.js
- https://github.com/stefanpenner/ember-cli/blob/v0.1.4/blueprints/http-proxy/index.js
- https://github.com/stefanpenner/ember-cli/blob/v0.1.4/blueprints/server/files/serv

[2014-12-09 12:48] #38 closed, assigned to nobody

[2014-12-18 22:50] gtrak opened #39 "can't use .coffeelintignore"
Trying to ignore some directories, and I can't find either the right place to put .coffeelintignore nor the right combination of things to put in there to do so.  Using latest ember-cli-coffeescript on ember-cli 0.1.2 (works otherwise).

[2014-12-29 20:15] bj-mcduck opened #40 "ember g controller is broken"
I'm using `ember-cli-coffees6` which relies on `ember-cli-coffeescript`, when I run

[code]

I get this error:

[code]

[2014-12-30 16:35] #40 closed, assigned to nobody

[2014-12-30 17:07] kimroen opened #41 "Use ember-router-generator instead of duplicating logic"
We'll need to help out with some abstraction to enable template variations over here, and then use it: https://github.com/ember-cli/ember-router-generator

[2014-12-30 17:41] #32 closed, assigned to nobody

[2015-01-05 10:13] ohcibi commented on #14
It is possible to use coffee-script mocks as follows:

* require `coffee-script/register/` in your server module (ember-cli puts it in `server/index.js`)
* require `*.coffee` files instead of js

[code]

In any node.js app you just require the coffee-script/register module and from there on you can require any coffee-scripted module.

[2015-01-05 19:55] DVG opened #43 "When does coffeelinting happen?"
I feel like I'm missing something here. The README gives the impression that coffeelinting should be automatic if there is a coffeelint.json file present in the project directory. I have one:

[code]

Which is fine, I can run coffeelint app/ and get the appropriate results. However I got the impression that this should just happen when the coffeescript is preprocessed:

So my question is really ju

[2015-01-06 15:32] rwjblue opened #44 "Add blurb in README about export/import statements needed for ES6 modules."

[2015-01-06 17:57] kimroen commented on #44
I'm not sure I follow - just something that explains that you need them, or how they are different when using coffeescript? Did something happen to trigger this request that I should aim to solve?

[2015-01-06 18:44] kimroen commented on #43
If you have a `coffeelint.json`-file in the root of your project directory, then the linting should take place on the app-files and the test-files when you run the server, and on the app-files when you run a build.

For instance - here is the output when I run `ember s`:

[code]

…and then again on the files that change.

Things to check:
- Is the `coffeelint.json`-file in the root of your project

[2015-01-06 21:29] rwjblue commented on #44
Not really, I just referenced the README for "how to use coffeescript with ember-cli" in https://twitter.com/rwjblue/status/552487393274896384, but it really doesn't say how...

[2015-01-06 21:32] kimroen commented on #44
Thanks!

[2015-01-08 17:16] #39 closed

[2015-01-08 17:18] kimroen commented on #43
I will close this - please reopen if you're still having issues getting linting to work.

[2015-01-08 17:18] #43 closed

[2015-01-08 17:55] #44 closed

[2015-01-13 13:02] DVG commented on #43
This is what I get when running ember serve

[code]

coffeeline.json (in project root directory)

[code]

package.json
[code]

[2015-01-13 13:09] kimroen commented on #43
I see. Well, I see in you `package.json` that `ember-cli-coffeescript` is set to version `^0.2.0`, but linting was [introduced in version `0.3.0`](https://github.com/kimroen/ember-cli-coffeescript/blob/master/CHANGELOG.md#030) of this project (the newest version is `0.7.0`).

There's been some nice improvements, so I recommend you upgrade. Hopefully that helps :)

[2015-01-13 13:12] DVG commented on #43
Makes sense! Thanks!

[2015-01-23 18:55] nathanpalmer commented on #21
@kimroen You need to set the project within install

[code]

[2015-01-25 21:17] ninjatronic opened #47 "Repeated CoffeeLint-results (app and test) is potentially confusing"
When coffeelint is included I get output like this:

[code]

[2015-01-25 21:22] kimroen commented on #47
Hi! Yeah, that first one is linting your app files, and then the second one is the test-files.

As far as I know, there's no way to tell the difference within the addon, but I would love to indicate this somehow. Just not sure how. If you have ideas, please share! :)

Something we _could_ do here is not output anything when there were no files - that would probably make this a bit less confusing.

[2015-01-26 12:58] ninjatronic commented on #47
Ah I see! That makes much more sense.

i don't know enough about ember-cli off the top of my head to suggest anything, sorry, but perhaps there is some info on the [`inputTree` parameter on the CoffeeScriptLinter](https://github.com/kimroen/ember-cli-coffeescript/blob/master/lib/coffee-linter.js#L11)?

[2015-01-26 13:01] kimroen commented on #47
I will try to think of something for the next time I work on this - thanks!

[2015-01-26 13:05] ninjatronic commented on #47
Thanks to you for the lib

[2015-01-30 16:45] artsyca opened #48 "Issue with import/export variable name collision."
Summary: Overriding an imported variable now has unexpected results.

Steps to reproduce:
In the latest cli (0.1.11) import a module, extend it and export using the same name:
[code]
This was a typical workflow in addons allowing addon modules to be merged into the source tree but also remain extensible due to not being overwritten by local copies in the parent app.

This behaviour breaks now, bec

[2015-01-31 16:59] kimroen commented on #2
Either way, this should be handled with #41

[2015-01-31 16:59] #2 closed

[2015-01-31 17:31] kimroen commented on #48
That is interesting. I'm not sure why you need to keep the same variable name for your exported class though. Where would this file be placed?

What do you do to avoid this?

I'm not sure what to do about this, but I appreciate you letting us know.

[2015-01-31 18:14] kimroen commented on #21
@nathanpalmer I could kiss you.

[2015-01-31 18:16] #21 closed

[2015-01-31 18:29] kimroen commented on #47
I will add a quick note in the README about this. Ember-cli has a new system for linting now which I will take a look at implementing later, but hopefully using that will make things clearer.

[2015-01-31 18:29] #47 closed

[2015-01-31 18:31] kimroen commented on #21
This should work again now with ember-cli-coffeescript 0.8.0.

Not pretty - hopefully I can delete all this code again in the future.

[2015-01-31 19:03] artsyca commented on #48
@kimroen I'll give you a more concrete example: creating an addon `ember-cli-x-button`

When creating an addon, there are two important directories: the `/addon/` and `/app/` directories. Anything in the latter will be merged with the target source tree, anything in the former can be imported by invoking the name of the addon.

Typically, we'll write our code in

[code]

and then include a file in

[2015-01-31 19:11] artsyca commented on #48
Gonna close the issue. Thank you for helping me increase my understanding of the problem, and apologies for opening a bit of a nuisance issue.

[2015-01-31 19:11] #48 closed

[2015-02-03 20:58] kimroen opened #52 "Linting output in silent mode"
ember-cli supports an argument, `--silent`, that should mute all output. This is useful for running tests and reading the output, for example.

ember-cli-coffeescript ignores this, and outputs the linting output either way.

[2015-02-03 21:00] kimroen commented on #52
A few points on this:

1. We should redo the linting-stuff to use the new linting interface available with ember-cli, which would make it a part of the test itself in this case.
2. You could get around this at the moment by disabling linting in test-mode
3. I don't think there is a way to check for the `--silent`-flag from ember-cli.

[2015-02-03 22:57] kimroen opened #53 "Turning off linting with config doesn't work"
Using the config in `config/environment.js` to turn off linting is pointless, as that part is read after the first round if linting is run.

Options:

1. Do something else
2. Move config back to the Brocfile (which has other issues)

[2015-02-03 23:04] kimroen commented on #53
It doesn't work in testing-mode is the problem, actually. Probably because of this: https://github.com/kimroen/ember-cli-coffeescript/blob/9e75c4adefd92b22d1d0bb6399f15637dad3e9dd/index.js#L21

[2015-02-04 21:55] #53 closed

[2015-02-08 18:45] kimroen opened #56 "Remove classifiedModuleName from moduleFor"
Following ember-cli's example: https://github.com/ember-cli/ember-cli/commit/fb9503fd234d0fea26d613f8be4f0af3ac1ee7e9

[2015-02-11 13:53] amk221 opened #59 "Upgrade test blueprints"
Changes to `setup` and `teardown` functions, and `assert` passed in to test as an arg
http://qunitjs.com/upgrade-guide-2.x/

[2015-02-11 13:54] kimroen commented on #59
There is actually already a pull request for this - waiting for ember-cli to release a new version to update. https://github.com/kimroen/ember-cli-coffeescript/pull/54

Thanks!

[2015-02-11 13:55] amk221 commented on #59
Apologies didn't spot!
ty

[2015-02-11 13:55] #59 closed

[2015-02-11 23:20] #56 closed

[2015-02-18 10:41] kimroen opened #61 "Use config hook for config"
Use this: https://github.com/ember-cli/ember-cli/blob/master/ADDON_HOOKS.md#config

Instead of the home-made, free-range, organic implementation here: https://github.com/kimroen/ember-cli-coffeescript/blob/3d2d4091c45fe9622b4c7d38c085680c56757701/index.js#L16-L24

[2015-02-18 10:43] kimroen commented on #61
The default implementation seems fine, so it should be enough to just make a file with the defaults and place it in `/config`.

[2015-03-08 06:21] lnmunhoz opened #65 "All coffee files when 'ember new'"
When ember-cli creates a new project, all the main files already comes in common javascript. There's a way to create an extension for `ember new` to create the full project in coffee? Maybe `ember new myApp --coffescript`

[2015-03-08 19:06] kimroen commented on #65
Hi there, Lucas!

The way the `ember new` command works is to run all the things it needs to run, and then apply the `app` blueprint that comes with ember-cli. You can define your own app blueprint to run during this part by typing `ember new myApp --blueprint=<url-for-my-blueprint>`. We could certainly provide one that you could use for coffeescript-projects.

The problem with this though, and th

[2015-03-09 05:11] lnmunhoz commented on #65
Hey Kim!
I think your solution is much more simple than mine. Definitely is more easily to maintain and is a good approach. I can try to do this and send a PR, but I don't have idea of how to do it. What file I should modify to start creating this improvement for the installation of the addon?

Thank you!

[2015-03-10 16:49] kimroen opened #66 "Support new help-commands and extended documentation"
Support for this was added in ember-cli 0.2.0. See example document for model help here: https://github.com/ember-cli/ember-cli/blob/master/blueprints/model/HELP.md

[2015-03-13 10:19] kimroen opened #68 "Make a generator for a custom coffeelint.json"
We have instructions in the readme and an example of how a custom coffeelint.json could look. The rule in there about allowing backticks is pretty much mandatory, so it would be nice if the user could type something like `ember g coffeelint` and get one.

Should be pretty straightforward - add a new blueprint to the `/blueprints`-folder with that name and a nice description.

We could expand upon

[2015-03-16 20:34] devinrhode2 opened #70 "Could not find module appname/app"
I'm getting this error because in appname.js, there is no `define('appname/app'` call, so when the application tries to start (`require('appname/app')['default'].create({...})`), it can't find the appname/app module because it was never `define`d. Why isn't this define call being output into `assets/appname.js`? I see many other modules are being defined. Presumably `appname/app` refers to the `Em

[2015-03-17 09:54] kimroen commented on #70
That's strange - I've not heard of anyone else having problems with this addon and ember-cli 0.2.0. It looks like ember-cli-coffees6 might not be quite ready yet though. This seems related: https://github.com/alexspeller/ember-cli-coffees6/issues/8

Outputting the `define`-statement all happens after addons are processed, so I don't have any initial ideas as to what specifically it could be.

I'll

[2015-03-17 14:13] devinrhode2 commented on #70
The error does indeed seem to be caused by the _`coffees6`_ addon, I open the issue over there.

[2015-03-17 14:13] #70 closed

[2015-03-18 02:50] alexspeller commented on #70
FYI there has been a massive upgrade to `ember-cli-coffees6` that should solve these issues now

[2015-03-18 04:28] kimroen commented on #70
Awesome!

[2015-03-24 07:35] Truffula opened #71 "Error: EEXIST, file already exists"
I'm using `ember-cli-coffeescript` in a project that has a combination of `.coffee` and `.js` files (which may or not be relevant), and whenever I edit one of the coffee files, it creates a matching `.js` file in the same folder, which then breaks the build:

    EEXIST, file already exists '/Users/work/htdocs/onboard/client/tmp/coffee_script_filter-tmp_dest_dir-Y7vlbjlp.tmp/my-awesome-app/path/to

[2015-03-24 11:28] kimroen commented on #71
Hi there, Christopher.

I'm not sure what you particular problem is here, but some thoughts:

- Can you try the newest version of ember-cli? There have been some similar-looking issues there that I believe have been resolved: https://github.com/ember-cli/ember-cli/issues/3413
- Could it be that you have a `.coffee` and `.js` file in your app with the same name?

[2015-03-24 18:40] tolgaek commented on #71
Having the same issue with this library. And yes @kimroen, it was because during the ember reset process, ember-cli creates a few of the js files. The ones I came across were `router.coffee` which was duplicated with a `router.js`. I also use emblem and ember-cli added an `application.hbs`, when I had `application.emblem`

@Truffula deleting router.js should resolve your issue

[2015-03-24 20:50] kimroen commented on #71
Thanks @tolgaek. Hopefully that solves your problem, @Truffula.

I'd really like to overwrite the app-blueprint so that when you do `ember init` you get coffee-files, but we've discussed this in #65. The currently proposed solution there won't help with this. I just can't keep a blueprint with all the files in the app-blueprint up to date.

Maybe if I could "extend" the blueprint and only overwrit

[2015-04-10 18:34] DiegeticShadow commented on #7
I converted my Ember app to Ember-CLI but then reverted back because of the lack of CoffeeScript source maps. I understand that this is maybe a “complain to Broccoli” issue, but is there a workaround? The issue you link to has a PR that hasn’t been merged . . . ?

Or am I missing something? How do you all work with ember-cli-coffeescript? You just code in coffee in your editors and look at JavaScr

[2015-04-10 23:11] AKST commented on #7
I also miss source maps, but I just go without it.

[2015-04-15 23:27] igillis opened #73 "addon/ folder is ignored"
Hi all,

I'm creating an ember-cli addon in Coffeescript, and it seems that Coffeescript files in the `addon/` folder aren't being pre-processed. If I put .js files there, it works fine.

Has anyone successfully built an addon in Coffeescript before? Am I missing something?

[2015-04-16 11:04] kimroen commented on #73
Hi! This should be resolved as of ember-cli-coffeescript 0.10.0. Could you confirm that this is the version you are using?

[2015-04-22 10:37] kimroen commented on #73
I'll close this, but just reopen this if you're still having problems.

[2015-04-22 10:37] #73 closed

[2015-04-22 10:38] kimroen commented on #71
We'll try to find a solution for this, but I'll close in favor of #65.

[2015-04-22 10:38] #71 closed

[2015-04-24 14:42] artsyca opened #75 "ember-cli-coffeescript addons, can't import from addon folder.."
This may not be an ember-cli-coffeescript issue per se, but I really want to make ember-cli addons more compatible for users of this excellent addon.

Steps to reproduce:

`ember g my-crafty-addon` and `npm install --save-dev ember-cli-coffeescript` inside the addon.

So far so good. Begin coding away.

Create (for example) a component in the `addon/components` folder. (Manually since components c

[2015-05-02 05:31] sdhull commented on #65
Is there an easy way to simply to convert js to coffee? Maybe that's the solution here.

[2015-05-02 18:41] artsyca commented on #75
OK! After much research, and looking at the [ember-cli branch of EmberUI](https://github.com/emberui/emberui/tree/ember-cli), Here are the steps needed to use coffeescript in your addons!

1. Create the addon code as usual in the `/addon` directory of your addon.
2. Rather than having a `.coffee` file in your `app/` folder that imports from the folder above, make it a `.js` file, with the followin

[2015-05-02 18:41] #75 closed

[2015-05-02 21:49] kimroen commented on #75
Thank you very much for looking in to this! I started researching some on friday, but had to stop because of some work things that came up.

I pretty much came to the same conclusion you did, but I think this might be a slightly nicer syntax that would allow for the same overriding:

[code]

This is actually the [default in ember-cli as of not very long ago](https://github.com/ember-cli/ember-cli/

[2015-05-03 19:04] kimroen opened #78 "Detect and warn about `app.js` and `router.js` if you also have coffee-equivalents"
This is a common thing to run in to after updating ember-cli.

[2015-05-03 19:06] kimroen commented on #65
@sdhull Yeah, you do have libraries like [`js2coffee`](http://js2.coffee/) that converts that way. The problem is that these files contain `import` statements, and `js2coffee` doesn't handle these.

This:

[code]

needs to become this:

[code]

There will probably be even more cases of newer ES2015-syntax showing up in the default templates, and that will mean that it's even less likely that you c

[2015-05-05 20:09] artsyca commented on #75
:+1: awesome! look forward to pulling the latest release!

[2015-05-07 05:57] Truffula commented on #71
Thanks, and sorry for the delay in replying! It was ... an out-of-date package, I think?
(Sorry, became a dad recently so I'm a little sleep-deprived!)

[2015-05-07 10:58] kimroen commented on #71
@Truffula Congratulations!

[2015-05-17 04:18] igorsantos07 opened #80 "Updating to CLI 0.2.5 causes error with app.js"
Things were working fine on 0.2.3, but then I upgraded `ember-cli` and:

[code]

Maybe this is related to #78?

[2015-05-17 04:42] igorsantos07 commented on #80
After downgrading to 0.2.3 the issue started to happen as well :(
Erasing `tmp/` would not help in any of the two versions.
I've tried it on 0.2.5 with addon version 0.10 and 0.11, and on 0.2.3, on 0.11.

[2015-05-17 06:24] kimroen commented on #80
Yes, it does look like this is the issue #78 is meant to help with.

Can you make sure you don't have both `app.js` and `app.coffee` in your project? The same thing goes for 'router.js`.

[2015-05-17 17:32] igorsantos07 commented on #80
I never had. I only use CS in app/* files, since it seemed the compiler / reloader would ignore files outside there.

[2015-05-17 17:33] igorsantos07 commented on #80
Whaaaaaaaaaaaaat

I got what happened. During update to 0.2.5 the CLI asked to recreate a bunch of files through `ember init`. That recreated the app.js file instead of updating the coffeescript one. That's the problem.

[2015-05-17 17:48] kimroen commented on #80
Indeed! It's a bit unfortunate.

Hopefully you got everything working - I'll close this.

[2015-05-17 17:48] #80 closed

[2015-05-18 14:02] igorsantos07 commented on #80
Actually, is there any chance the addon could stop the `ember init` from creating JS files and instead, created CoffeeScript ones?
This seems to be a recurring issue during updates.

[2015-05-18 14:04] kimroen commented on #80
Kind of, but not really. It's very related to https://github.com/kimroen/ember-cli-coffeescript/issues/65 - check it out and let me know!

[2015-05-21 09:05] maxkazar opened #81 "ember-cli 0.2.5 generator issue"
Try to

[code]

and result

[code]

After remove `ember-cli-coffeescript` all work fine

[2015-05-26 19:22] nruth commented on #7
There's been some movement in ember-cli's sourcemaps, may be relevant: https://github.com/ember-cli/ember-cli/pull/2727
Personally I'd drop coffeescript rather than ember-cli, but for now I just read the js in the dev tools and it's usually straightforward seeing where it came from.

[2015-05-27 09:55] kdabrowski opened #82 "Generating route tries to generate an entry in route.js"
Hey

I have an issue while generating routes in my app. Every time I run:

`ember g route example`

I'm getting the following:

[code]

Thanks in advance

[2015-05-28 18:36] artsyca commented on #81
I believe this also happens when you do `--pod`

[2015-05-31 17:31] kimroen commented on #81
Hi!

Sorry that I haven't responded to this sooner. As far as I can tell, the problem is that the `-path` argument that you are passing in here doesn't work very well with the component blueprint in this project. It'll have to be implemented, but component blueprints are in a bit of flux at the moment, which I haven't had the time to look properly in to yet.

[2015-05-31 17:37] kimroen commented on #82
That is very interesting. I tried this now, and have no problems. Could you elaborate a bit?

[2015-05-31 17:43] kimroen commented on #7
I would really love to have this, but I just don't have the capacity to look in to it properly at the moment.

[2015-05-31 20:45] igorsantos07 commented on #7
I'm with @nruth here... I'm just fine using `ember-cli` and CoffeeScript. CS is almost a one-to-one match with JS; it's pretty easy to read JS in the Dev Tools.
Of course, sourcemaps would be even easier, but it's not a game changer for now.

[2015-06-23 19:51] jsec opened #83 "Support for coffeelint custom rules"
We're trying to port our app over from brunch to ember-cli, and we have several custom modules that we included in the coffeelint hash of our brunch configuration file. Does the built-in coffeelint include support for custom rules?

[2015-06-23 20:13] kimroen commented on #83
It does not, but it should be just a matter of allowing the user to specify somehow and then pass that along to coffeelint in this file: https://github.com/kimroen/ember-cli-coffeescript/blob/master/lib/coffee-linter.js

I don't have the capacity to check this out further right now unfortunately, but I'd love to help make it happen through a PR.

It should probably be a configuration option of eit

[2015-06-23 20:20] jsec commented on #83
We use the [coffeelint-brunch](https://github.com/brunch/coffeelint-brunch) plugin. This adds a coffeelint hash where we can then define our lint rules without the need of a `coffeelint.json`. Here's an excerpt of our config:

[code]

The two defined modules at the bottom are what I'm trying to port over. There are two files at `noSetTimeout..coffee` and `noSetInterval.coffee` that each export one

[2015-06-30 18:46] mmun opened #84 "Optionally disable blueprints"
In my app I use `ember-cli-coffeescript` to support older code, but all new code is written in ES6. The problem is that `ember g route posts` will always CoffeeScript blueprints. Is there a way to disable this behavior?

[2015-06-30 20:01] kimroen commented on #84
Good plan, and there is; you can set `blueprints` to `false` in your config: https://github.com/kimroen/ember-cli-coffeescript#blueprints

[2015-06-30 20:01] #84 closed

[2015-06-30 21:41] mmun commented on #84
@kimroen Thanks!

[2015-07-17 23:25] spinlock99 commented on #83
@jsec, you can add custom rules to `coffeelint.json` in almost the same way. Here's a copy of our custom rules:

    {
      "change_adstage_require": {
        "level": "error",
        "module": "tools/coffeelint/rules/change_adstage_require.coffee"
      },
      "deprecate_open_notification_bar": {
        "level": "error",
        "module": "tools/coffeelint/rules/deprecate_open_notification_

[2015-07-25 18:25] erichonkanen opened #86 "Generator doesn't work, generates .js files"
Hello,

I am using `"ember-cli-coffeescript": ">=0.10.0",` in my ember-cli project (0.13.1)

Running generator command such as `ember generate model foo` will generate app/models/foo.js

Is there something I am missing? How can I generate files in coffeescript?

[2015-07-25 18:30] kimroen commented on #86
Hi!

That should work just fine, so that's strange.

[2015-07-26 00:49] erichonkanen opened #87 "Conflict with another 3rd party package that includes an app/adapters/application.js"
Hello,

We've run into an issue when using this package with another called ember-django-adapter, I created an issue there but linking it here in case it can be solved on this side or it?

https://github.com/dustinfarris/ember-django-adapter/issues/121

Essentially that package is including an `app/adapters/application.js` which breaks `ember server` bc it's seeing a .js file when we have coffeesc

[2015-07-30 22:05] kimroen commented on #87
Unfortunately I don't have the time to check this out further at the moment, but here's a description of the problem:

When an addon includes a file in its `app` folder, it will be placed in the user's app structure, unless a file already exists at the same path. In this case, because your application adapter is called `application.coffee` and not `application.js`, they will both be included. Then

[2015-08-05 21:24] #82 closed

[2015-08-06 01:01] #66 closed

[2015-08-06 01:02] kimroen commented on #41
It doesn't look like this is possible to do, unfortunately.

[2015-08-06 01:02] #41 closed

[2015-08-06 01:07] #81 closed

[2015-08-06 01:23] kimroen commented on #81
This should be fixed now in version 1.13.0, which was just released.

[2015-09-07 00:48] mszoernyi opened #91 "configure file extensions"
Is there a way to configure the file extensions which are picked up for linting?

[2015-09-07 13:52] kimroen commented on #91
Not currently. Tell me more about what you'd like!

[2015-09-09 00:04] youroff opened #92 "Ember-cli build fails with 'file already exists' error"
Keep getting this error after an attempt to install some package. Not sure if it has to do with ember-cli-coffeescript. Here's the trace:

[code]

It looks like as if I had two routes (i.e. application.js and application.coffee) defined, but it's not. There's only one file in routes folder.

[2015-09-09 07:38] kimroen commented on #92
Hmm, the only other thing I can think of is if the package you have installed has an `application.js` route defined and is trying to merge that in to your project.

If that is the case, there is unfortunately nothing to do about it in your project as far as I know, other than to not use coffeescript for this file.

This is the same as this other issue: https://github.com/kimroen/ember-cli-coffeesc

[2015-09-09 07:38] kimroen commented on #87
I've talked to the ember-cli people, and they agree that ideally all the transpilation should happen before the merge, but unfortunately that is a pretty big change.

[2015-09-09 15:16] youroff commented on #92
Yes, you were right. I just realized that it was simple-auth package. Rewriting that one file in JS would work, thank you!

[2015-09-09 15:16] #92 closed

[2015-09-09 17:28] erichonkanen commented on #87
@kimroen thanks for the information and looking into this.. yeah I just went ahead and used javascript for this file since it wasn't much of a deal to do that...

[2015-09-19 16:52] kimroen commented on #86
I'll close this, but please reopen if you're still having issues with it.

[2015-10-15 14:07] tomoguisuru opened #94 "CoffeeScript not compiling files in in-repo-addon"
I recently ran into an issue where a I was using an in-repo-addon via git submodules. (It's a shared in-repo-addon with a bunch of common code that I use in different projects)

Both the app and the submodule were originally written in JavaScript. Growing tired of JS, I updated the main project to CoffeeScript by installing ember-cli-coffeescript. However, when I went to update the submodule I fou

[2015-10-16 20:11] kimroen commented on #94
I see your issue, but unfortunately I don't have any experience that immediately points me to what could be the problem. I'll look in to it in hopefully not too long, but just know that I don't really know if I'll find a solution.

Please let me know if you see any other differences.

[2015-10-16 21:08] kimroen commented on #94
Can you confirm (just to be sure) that you have `ember-cli-coffeescript` as a `dependency` (not `devDependency` of the in-repo addon?

[2015-10-20 09:17] toovy commented on #87
I'm also having this issue with ember-simple-auth, the transpiled route/application.coffee file is not merged with the addons routes/application.js file. Just for my understanding, is it a big change on ember-cli or on ember-cli-coffeescript?

I think this fix would be important as addon developers are just discovering the possibilities of addons. The possibility to merge addon and application fil

[2015-11-07 19:01] bkCDL commented on #87
I'm having the same issue as @toovy .

[2015-11-08 09:00] ralmidani opened #96 "Generators do not work properly for nested routes when indent=4"
I have this addon installed, and I change generated CoffeeScript code to have an indent level of 4. When generating a route nested under another route with the command `ember g route parent/child`, Ember CLI appears to look for the parent route with an indent level of 2, and when it does not find it, it adds the child route unnested with an indent level of 2. The code looks something like:

[code]

[2015-11-09 16:43] kimroen commented on #91
Feel free to reopen this if you have some more info! :)

[2015-11-09 16:43] #91 closed

[2015-11-09 16:46] kimroen commented on #94
Closing this for now, please reopen if you have checked the above and are still having issues.

[2015-11-09 16:46] #94 closed

[2015-11-22 19:59] kimroen commented on #83
Hi again,

It's very unlikely that I'll be able to work on this any time soon, so if this is something you need - please feel free to take charge.

[2015-11-22 20:12] kimroen commented on #87
@toovy I agree that it is important to fix this, and I've tried to outline what is happening earlier in this thread, but there is a clear correct solution, and there is a temporary solution:

## Proper solution
ember-cli should run all the addons that do processing of files before it merges the files in. This way, the `application.js` would already exist, and no addons would merge their files in t

[2015-11-22 20:20] kimroen commented on #52
`ember-cli-qunit` handles this here: https://github.com/ember-cli/ember-cli-qunit/blob/dccc61ce2b2ee25e6bef022b4a193811e0f6e280/index.js#L10

[2015-11-23 15:33] jsec commented on #83
I should have some bandwidth opening up between now and the new year, so I might be able take a stab at it.

[2015-11-24 21:22] dchersey opened #97 "Not generating coffeescript blueprints for routes or components"
I've just installed the plugin, and when I generate a pod or a component I am getting javascript blueprints for the pod itself, but coffeescript for the tests.

I tried adding
[code]
to try to force it but it is still not happening.  Is there anything else I was supposed to do besides `ember install ember-cli-emberscript` ?

[2015-11-24 21:25] kimroen commented on #97
That's curious, no - just installing it should be quite sufficient.

You can try running this command to see your blueprints - it sounds like something else is providing blueprints and they are getting higher priority:

[code]

(I think that's the command, on my phone so can't check)

[2015-11-24 21:27] kimroen commented on #97
By the way:

Just to be sure, you mean `ember install ember-cli-coffeescript` here, right?

[2015-11-24 21:27] dchersey commented on #97
Ok will do (on my phone too).  Might be emblem-cli; If that's the case is there anything I can configure to resolve the dependency?

[2015-11-24 21:31] kimroen commented on #97
Not that I can think of right now. I think adding that to this would solve it: https://github.com/kimroen/ember-cli-coffeescript/blob/master/package.json#L38

[2015-11-24 21:54] dchersey commented on #97
Yes!! Was playing with ember script first and still had it on the brain.  I uninstalled that one as it seems out of date.

[2015-11-24 21:59] dchersey commented on #97
Ok, will try that and let you know.

[2015-12-01 18:42] zkwentz commented on #97
I tried this myself, doesn't appear to resolve the issue.

[2015-12-07 16:23] michaeldeitcher commented on #71
I'm running into a similar issue after upgrading Ember Simple Auth.

I have a /routes/application.coffee
then I install Ember Simple Auth
then I get the this error:
EEXIST, file already exists '/Users/michaeldeitcher/Workspace/trekaroo_js/tmp/coffee_script_filter-output_path-9vXQqp8u.tmp/trekaroo-js/routes/application.js'

If I delete this file the issue goes away:
/Users/michaeldeitcher/Workspace

[2015-12-07 19:22] kimroen commented on #71
@michaeldeitcher Sorry that you're running in to this. You're right that there is an issue, but it's more related to #87. In there, you'll find that the temporary solution to this is actually to use javascript for your application route.

There is a lot more description of the issue and potential solutions over there, and I'd love any and all help if you have resources to spare.

[2015-12-08 16:25] michaeldeitcher commented on #71
Thanks for your response @kimroen. I ended up converting the file to js and it's working fine. I'll take a look at #87

[2015-12-11 16:52] afn opened #98 "Configuration is loaded before process.env.EMBER_ENV is set"
[This code](https://github.com/kimroen/ember-cli-coffeescript/blob/3d2d4091c45fe9622b4c7d38c085680c56757701/index.js#L16-L24) is invoked before `process.env.EMBER_ENV` has been set, so environment-specific configuration does not work properly.

To reproduce:

[code]

Prints out:
[code]

The very first `environment is undefined` is due to `ember-cli-coffeescript`.

May be related to #61.

[2015-12-22 20:52] kimroen commented on #96
The generated files are actual files, so the indentation in them are static. [Here's models](https://github.com/kimroen/ember-cli-coffeescript/blob/b48df795195b15e41b88dec7d05be226c008b079/blueprints/model/files/__root__/__path__/__name__.coffee), for example. I believe this was discussed at some point in ember-cli, but it was decided that it was not worth the trouble to make it dynamic. Either wa

[2015-12-22 20:54] kimroen commented on #97
No, but it should show up in the section of the addon that is also providing a component blueprint and overwriting the one from this addon.

[2016-01-07 14:17] rwjblue commented on #52
@kimroen - If the addon passes in `ui` object you can avoid needing to detect the `--silent` flag.

Basically, do [this](https://github.com/rwjblue/broccoli-jshint/blob/master/index.js#L28) to allow `console` to be provided (and fallback if needed), then do [this](https://github.com/ember-cli/ember-cli-qunit/blob/master/index.js#L33-L50) and [this](https://github.com/ember-cli/ember-cli-qunit/blob

[2016-01-07 22:53] kimroen commented on #52
@rwjblue Thanks for the pointers, much appreciated!

---

If anyone wants to make a PR to fix this, I would really love that. If not, I'll get to it eventually. Maybe even before the issue is a year old! :blush:

[2016-01-25 15:39] davearel commented on #97
I'm having an issue here as well. The route generator seems to be defaulting to the ember-cli blueprint. Despite the fact I have `ember-cli-coffeescript` installed. Other generators are working fine.

[code]

[2016-01-25 16:10] zkwentz commented on #97
It's a conflict between emblem and coffeescript. They both override the
same generator, and it depends on which is defined lower in package.json,
for which takes precedence.

On Mon, Jan 25, 2016 at 7:39 AM, Dave Arel <notifications@github.com> wrote:

[2016-01-25 16:30] kimroen commented on #97
Thanks, that's very helpful information.

[2016-01-25 17:00] zkwentz commented on #97
Sure thing, I haven't found a workaround myself, but then again I haven't looked hard either, at the moment I just run `mv ....{hbs,emblem}`, after each generate command.

[2016-01-25 17:11] davearel commented on #97
This might be something that should be addressed in Ember-CLI, or even Emblem. I opened a ticket in Emblem to make them aware of the issue.

[2016-02-28 13:09] ibroadfo opened #99 "can't generate a route without a router.coffee"
brand new app:

version: 2.3.0
installing route
  create app/routes/open-bar.coffee
  create app/templates/open-bar.hbs
ENOENT: no such file or directory, open '/Users/ibroadfo/scratchy/bourbon/app/router.coffee'

[2016-03-01 12:23] kimroen commented on #99
Hi! Sorry about that.

This is not unexpected, but it's not great. Let's brainstorm some solutions!

What would be the expected behavior for you? Some options I can think of:

- Prompt the user to create the missing file
- Fall back to modifying `router.js` instead if `router.coffee` can't be found
- The same as above, but alert the user about it somehow
- Ask the user if they want to convert the

[2016-03-01 14:03] ibroadfo commented on #99
I think modifying existing files sounds right to me; they'll always have a
router.js probably so that's simplest and least disruptive.

Converting files to coffeescript sounds like a separate task yeah.
On Tue, 1 Mar 2016 at 12:23, Kim Røen <notifications@github.com> wrote:

[2016-03-05 03:09] rounders opened #100 "ember-cli-coffeescript requires ember-cli@'^1.13.0' warning"
receiving the following warning when using ember-cli 2.4.1

[code]

[2016-03-06 21:03] kimroen opened #101 "Set up tests"
Eventually I'd like to have everything tested with multiple versions of ember-cli, but I think covering these two is a good start:
- [x] Test that the built in ember tests run with coffee-files
- [x] Test all the blueprints with the [`ember-cli-blueprint-test-helpers`](https://github.com/ember-cli/ember-cli-blueprint-test-helpers)

To do this, the project will first need to be upgraded to the newe

[2016-03-06 22:46] kimroen commented on #100
Hi! Thanks for letting me know about this. It will be fixed the next time I make a new release.

[2016-03-06 23:04] #100 closed

[2016-03-07 11:21] kimroen opened #103 "Upgrade broccoli-coffee to 0.6"
It updates to use `broccoli-persistent-filter` for better performance, just like was done for the coffeelinter. It shouldn't require any changes for `ember-cli-coffeescript`.

https://github.com/joliss/broccoli-coffee/releases/tag/v0.6.0

[2016-03-08 09:54] #103 closed

[2016-03-13 21:06] erichonkanen commented on #78
hello,

I upgraded to latest ember/ember-cli and now I'm getting this error:

[code]

any idea what's causing it or how to resolve it? I do not have myapp/routes/application.js only the coffeescript version

[2016-03-13 21:11] erichonkanen commented on #71
+1 I just ran into this same issue... kind of annoying to have to use js for certain files as it defeats the purpose of using coffeescript! is this something that is an issue with ember-simple-auth and needs to be addressed or a larger issue with addons?

[2016-04-13 19:08] andrewhavens commented on #86
Please reopen this. I am also running into this issue.

I am working on migrating my `ember-rails` app to `ember-cli-rails`, so I just created my first Ember CLI app at the root of my Rails app directory:

    $ ember new frontend --skip-git
    $ ember install ember-cli-rails-addon

Next I installed the `ember-cli-coffeescript` add on and tried to generate some things:

    $ ember install ember-

[2016-04-13 19:27] andrewhavens commented on #86
Interesting...when I tried to generate a route, it looks like it started to create some `.coffee` files, but then it failed:
[code]

[2016-04-13 21:55] andrewhavens opened #107 "Broccoli Plugin: [CoffeeScriptFilter] failed with: Error: EEXIST: file already exists"
I'm trying to install `ember-simple-auth` and am running into this error:

[code]

I am new to Ember CLI. What do I need to do to fix this issue?

[2016-04-13 22:32] andrewhavens commented on #107
Ah, looks like this issue has already been filed before. Turns out the error has to do with a conflict between the default `routes/application.js` provided by `ember-simple-auth` and our app's `routes/application.coffee`. The solution is to convert our `routes/application.coffee` back to JavaScript.

Duplicate: https://github.com/kimroen/ember-cli-coffeescript/issues/92
Originally filed with ember

[2016-04-13 23:36] jrr commented on #107
@andrewhavens alternatively, if you want to keep your coffee, you can delete ESA's `routes/application.js`: https://github.com/simplabs/ember-simple-auth/issues/851#issuecomment-205623700

[2016-05-23 23:46] jakesjews opened #109 "Release with updated broccoli-coffee"
Would it be possible to get a new version with the [updated broccoli-coffee commit](https://github.com/kimroen/ember-cli-coffeescript/pull/104)?

[2016-06-05 14:50] kimroen commented on #107
As you've noted, this has been reported before, and I've tried to outline the possible solutions over in this issue: #87

Closing this, but please do come with input in this issue if you have thoughts or could help out with moving in the direction of one of the proposed solutions.

[2016-06-05 14:50] #107 closed

[2016-06-05 14:55] kimroen commented on #61
I haven't done this yet, because we don't have any tests, and I'm not confident I would catch all possible use cases of the config. Still not sure how to go about testing that.

[2016-06-05 15:12] kimroen commented on #96
Tried out some things with the idea of parsing the coffeescript, making changes to the tree and then generating the coffeescript file again, but there's not ready-made solution for this so it's a lot of work unfortunately.

`coffeescript` itself can take a CoffeeScript-file and turn it in to a syntax tree (I do that in [this gist](https://gist.github.com/kimroen/4a44712946830b668adce68ed9abdb0f)),

[2016-06-05 15:25] kimroen commented on #78
@erichonkanen Sorry for the late reply. I don't think this problem is related to this issue. Are you having problems beyond what you reported in https://github.com/kimroen/ember-cli-coffeescript/issues/87 ?

[2016-06-05 15:29] kimroen commented on #97
As you suggest, this is more of a fundemental ember-CLI problem, also related to https://github.com/kimroen/ember-cli-coffeescript/issues/87

I'm excited to see if the proposed module changes will make this better - something needs to change with blueprints to accommodate those changes.

[2016-06-05 17:49] kimroen opened #110 "Handle the upcoming changes in ember-cli 2.6"
The blueprints are moved to this addon, and some internal changes are made:

https://github.com/ember-cli/ember-cli-legacy-blueprints

I'm not yet sure what the extent of the changes are, but they seem relatively big. Especially the addition of direct support for different testing libraries is curious - I'm not sure if it makes sense to support these in ember-cli-coffeescript as well.

What are ot

[2016-06-05 18:18] kimroen commented on #61
There's a related question here - at some point it was pretty clear that we were moving in the direction of having config in the config folder, but since the `ember-cli-build.js` file was introduced, it seems more fitting to have this kind of config in that file.

Not sure what to do about that.

[2016-06-05 18:25] nathanhammond commented on #110
I can't ever recommend overwriting the main blueprints and instead recommend building alongside them. Our goal now is to actually have addons themselves bundle the blueprints that they want to ship, which means that we don't have to release simultaneously to update blueprints when they change in a new dependent library version. Eventually this will include Ember and Ember CLI itself. At that point

[2016-06-05 19:52] kimroen commented on #109
Done - sorry about the delay.

[2016-06-05 19:52] #109 closed

[2016-06-08 11:04] kimroen commented on #86
So sorry for not getting back to you on this. Reopening now.

It sounds like some other addon is providing blueprints, and those are being prioritized higher than the ones in this project. I checked to see if ember-cli-rails or ember-cli-rails addon has any blueprints, and it doesn't look like it so I doubt they are related.

From your examples though, it looks like the ones that don't work are em

[2016-06-09 10:32] kralicek-m opened #112 "project build freeze in v1.14.0"
With new version of ember-cli-coffeescript (1.14.0) when I rewrite route.js file into coffee and then I tried to build app, building process freezes or was in infinite loop. No error or another message it just keeps building. I tried that on new clean project on ember 2.4.2 just with ember-cli-coffescript installed. I switched to older version ember-cli-coffescript@1.13.2 and now it works pretty g

[2016-06-10 20:31] erichonkanen opened #113 "Error when generating a helper test"
Hello,

I got an error while generating a helper via `ember generate helper foo-pa`

[code]

[2016-06-10 20:33] erichonkanen commented on #113
edit: updating to latest 1.14.0 seems to resolve this

[2016-06-10 20:33] #113 closed

[2016-06-13 10:30] ralmidani commented on #97
We were running into this issue, and found a simple workaround: delete the blueprints folder in ember-cli-emblem. This means you will have rename the .hbs files to .emblem and remove the double curly braces inside the files, but it is easier than having to refactor .js files to .coffee.

This is, of course, unsustainable in the long term, since updates may bring the blueprints folder back. But if

[2016-06-13 14:32] joankaradimov commented on #112
I am experiencing the same issue on Windows. My colleagues are on Linux and they have no such problems.

[2016-06-13 15:01] kimroen commented on #112
Hi, sorry about the trouble. It seems likely that this change is what made it stop working: https://github.com/kimroen/ember-cli-coffeescript/pull/104. If anyone wants to investigate this, I would appreciate that very much.

If @kralicek-m is also on Windows, then that's probably a good place to start looking.

[2016-06-13 20:40] kralicek-m commented on #112
Yes, I had that issue also on windows 10.

[2016-06-17 12:40] huberts opened #114 "Blueprints don't work with Ember 2.6"
Hi!
I noticed the addon's blueprints stopped working after migrating to Ember-CLI 2.6.1:
[code]

[2016-06-21 02:11] JoelWAnna commented on #112
this is caused by https://github.com/joliss/broccoli-coffee/commit/502d4319b54d5ab4bc1e582c3d60fe6d19dbe322#diff-168726dbe96b3ce427e7fedce31bb0bcR31

I submitted a workaround PR to broccoli-coffee
https://github.com/joliss/broccoli-coffee/pull/16

I'm still working on identifing the hang

[2016-08-17 08:16] dimul commented on #114
It is true for 2.7.0 too

[2016-08-17 08:20] dimul opened #116 "EMBER-CLI 2.7: ember generate component and ember generate route give errors"
### Explain
Project is written with coffeescript.
**ember-cli-coffeescript** addon is of latest version
Things started to happen after update from 2.5 to 2.7

In 2.5 everything works after update now I have this:

`ember g -h` and `ember generate route ...`
produce this error
`Cannot find module 'ember-cli/blueprints/route-addon'`

Running `ember generate component ...`
Produce this error
`Unknown

[2016-08-17 10:00] #114 closed

[2016-08-17 10:35] dimul commented on #116
This one is fixed with #115

[2016-08-17 10:35] #116 closed

[2016-08-23 15:44] rafaeltnk commented on #116
How can I get these corrections for my project? If I get through "Ember install" I'd get the latest release (current is 1.14.0). I also tried to pull the master branch and copy to the node_modules folder but it didn't work.

[2016-08-24 09:35] blackode opened #117 "blueprints not working in ember 2.7.0"
All ember generators not working after installing `ember-cli-coffeescript`
Here the following error screen shot
![screenshot from 2016-08-24 15-02-44](https://cloud.githubusercontent.com/assets/9107477/17925801/04b15bb8-6a0c-11e6-9fa6-2b6b042c19c7.png)

[2016-08-26 00:21] alobaidizt commented on #117
I have the same issue

[2016-08-26 00:35] alobaidizt commented on #117
@blackode it turns out this issue was solved 9 days ago. [#115](https://github.com/kimroen/ember-cli-coffeescript/pull/115)

you can fix your project by replacing your `ember-cli-coffeescript` hash with ```    "ember-cli-coffeescript": "kimroen/ember-cli-coffeescript#ebb4abd237599ae7bd3a852cd71d63924a79851f",
[code]

[2016-08-26 06:59] blackode commented on #117
@alobaidizt thanks for the help it is absolutely right  .  Now generator are working but the issue is when I run the server is ti is raising the following error
ERROR SCREEN SHOT
![broc](https://cloud.githubusercontent.com/assets/9107477/17996782/92d5fbf6-6b88-11e6-9390-e3c7f02f3029.png)

[2016-08-28 15:16] alobaidizt commented on #117
Your second issue doesn't belong here. But I'd say try running the following in your project directory:

npm uninstall ember-simple-auth
npm cache clean
ember install ember-simple-auth

Then try serving it  again

[2016-08-28 16:14] blackode commented on #117
@alobaidizt  Thanks for the help . I tried as you stated  ,but nothing changed same error raised again .......

[2016-08-29 17:07] alobaidizt commented on #117
@blackode it looks like it's a symbolic link issue. I would delete `application.js` file found under tmp directory. If that's not enough then you'll have to unlink it since that's the root of the issue.

[2016-08-29 18:41] kimroen commented on #117
@blackode Sorry for not jumping in earlier. This is a known issue, which shows up frequently with ember-simple-auth. You can see a description of what's going on here, but the short version is that you should probably use JavaScript for that particular file. More details: https://github.com/kimroen/ember-cli-coffeescript/issues/87#issuecomment-158794463

@alobaidizt Thank you very much for helping

[2016-08-29 18:41] kimroen commented on #117
I'll keep this open until the fix for your original issue is released, though.

[2016-08-29 20:38] blackode commented on #117
@kimroen Thanks for everything ........

[2016-09-05 07:06] erichonkanen commented on #117
+1 and on a positive note it's good to know that some other people are still holding out and using coffeescript!!!

[2016-09-05 18:21] blackode commented on #117
@erichonkanen coffescript saves the time and we can use that time to drink the coffee...........

[2016-09-05 22:43] erichonkanen commented on #117
@blackode yes it does... and it's cleaner, easier to read, easier to write, more fun to use, less "hip" but more "cool"

[2016-09-16 22:19] erichonkanen commented on #117
is there any movement on this? blueprints still not working

[2016-09-17 03:51] blackode commented on #117
@erichonkanen i think not yet. I hope they are working on this.......

[2016-09-27 00:15] erichonkanen commented on #117
what is the issue that needs fixing? it'd be nice to fix it

[2016-10-02 17:51] #86 closed

[2016-10-03 21:40] kimroen commented on #110
I consider this solved now, and addressed in the latest version of `ember-cli-coffeescript`.

Longer-term, I still think we'll need to split things up a bit to make this more sustainable in the future. Hopefully I can find someone that's using CoffeeScript and Ember in production to help out, and I'll also talk to people running similar projects, like `ember-cli-typescript`.

[2016-10-03 21:40] #110 closed

[2016-10-03 21:42] kimroen commented on #117
This has now been resolved in `v1.15.0`, that was just published. Luckily, we were able to solve this in a way that is backwards-compatible :tada:

Sorry for the lack of response in here, and thank you for helping each other out.

[2016-10-03 21:42] #117 closed

[2016-10-04 15:42] blackode commented on #117
@kimroen  Thanks for the update ......  (:

[2016-10-05 03:57] alobaidizt commented on #117
Wonderful work @kimroen! Thank you!

[2016-10-07 20:49] kimroen opened #121 "Change name of ember npm package in `after`"
This has landed now: https://github.com/emberjs/ember.js/pull/13022

The name of the addon providing ember in the future is going to be `ember-source`, and so we need to add`ember-source` inside `after` in the `ember-addon`-section of `package.json` to make sure we continue overriding the blueprints.

[The section in question](https://github.com/kimroen/ember-cli-coffeescript/blob/1d6d0fa1cf8cd1e1

[2016-10-08 00:20] locks commented on #121
A small note that you might want to keep `ember` to make sure it works with version of Ember older than v2.10 (the predicted release).

[2016-10-08 19:16] kimroen commented on #121
Thanks, Ricardo! Good point, let's keep them both.

[2016-10-21 04:42] darylalexjohnson opened #122 "Add `vendor` to broccoli tree/node"
Might it be possible to add vendor or other assets to the precompile? Passing in a "tree/node" option could be a great asset.

Thanks for any insight

[2016-11-03 00:53] #87 closed

[2016-11-17 00:57] erichonkanen opened #125 "Who is still holding out and using coffeescript with Ember?"
Just curious! I've been losing the battles in fighting for keeping it as the overall trend has shifted away :/

[2016-11-22 08:22] olleolleolle commented on #125
Hi, @erichonkanen, this is a project issue tracker, and this is not registering a software defect. (And, answering: lots of people use CoffeeScript with Ember.)

This issue is perhaps closable, @kimroen?

[2016-11-22 09:07] mriska commented on #125
We are still using coffeescript for all our projects. I think it still offers advantages over ES6, although a lot less now than with older JS versions.

[2016-11-22 19:51] #125 closed

[2016-11-22 21:43] olleolleolle commented on #52
Looking at this issue, I note that the jshint parts have been extracted from the other plugin:

https://github.com/ember-cli/ember-cli-qunit/pull/114/files

[2016-11-24 17:47] ralmidani opened #126 "Update broccoli-coffee dependency to 0.7.0"
The latest version (0.7.0) of broccoli-coffee uses CoffeeScript v1.11.1, which enables us to do module imports and exports without using backticks.

Is there a plan to update this dependency soon, or do we need to update the blueprint framework along with changing the dependency?

[2016-11-24 19:11] kimroen commented on #126
Yeah, it's very exciting! There's a pull request for it right over here, that I might get to and release this weekend. That's my hope, anyway!

https://github.com/kimroen/ember-cli-coffeescript/pull/124

[2016-11-24 19:44] ralmidani commented on #126
Looking forward to it! Thank you!

[2016-11-30 18:32] wavebeem opened #127 "Update README now that import/export are in CoffeeScript"
Now that CoffeeScript 1.11.1 is out with import/export support, it might be nice to remove the backtick stuff from the README

[2016-12-01 11:42] kimroen commented on #127
Yeah, I agree! It's being done as part of this PR over here where we also update the blueprints: https://github.com/kimroen/ember-cli-coffeescript/pull/124

Thanks!

[2016-12-23 16:06] rafaeltnk opened #130 "ember server freezes on windows in v1.15.0 after creating component"
I've just installed ember-cli v2.8.0 on Windows 8.1 and i've created a dummy application.
After installing this addon (v1.15.0) and create a simple component when I run ember server on PowerShell the application keep loading on localhost:4200 and doesn't show anything.
In PowerShell the trees infos is not showing up, it's just froze with the message "Serving on http://localhost:4200/".
When I dest

[2017-01-05 06:44] mriska opened #131 "Addons created in coffeescript can only be consumed by applications with coffeescript"
I discovered that components created using coffeescript in an addon can not be consumed by an application that is not set up with `ember-cli-coffeescript`. This seems to be caused by the wrapping files under `app` being generated as coffee-files which the consuming application does not know how to handle. My suggestion would be to create these proxy-files as pure javascript files so that any addon

[2017-01-05 07:41] perlun commented on #131
Good suggestion. The same goes for other languages as well (I'm mostly thinking about [ember-cli-typescript](https://github.com/emberwatch/ember-cli-typescript) here, which is still at a very early stage); you should be able to consume such addons from non-TS apps as well.

[2017-01-07 21:30] kimroen commented on #130
Hmm. Sorry, I'm at a bit of a loss on this one - I don't really have a good way to try this out. Does the page load normally if you don't install ember-cli-coffeescript and create a component?

[2017-01-09 11:27] rafaeltnk commented on #130
Hi! Thanks for you reply.

Yes, if I don't install and create a component the page loads normally. After installing the Coffeescript and generating anything via ember-cli (now I've noticed that this is not only a specific problem of component generation) the page keeps in "loading" state and never finish. The page doesn't show anything.

I got around installing a previous version (1.13.1) on the W

[2017-01-10 11:20] mriska commented on #131
@kimroen What is your opinion on this? Do you want me to create a PR?

[2017-01-22 19:15] boris-petrov commented on #130
This issue is the same as #112. There is a pull-request to fix this but no one seems to care.

[2017-01-31 06:38] mriska commented on #131
@kimroen Have you had the possibility to think about this? I would be happy to provide a PR if you think it is acceptable.

[2017-02-01 21:29] #101 closed

[2017-02-01 21:54] kimroen commented on #130
I'll close this in favor of #112 to keep discussion contained.

Stefan gave feedback on the PR, but I poked him to make a more explicit decision about it. I don't think the inaction comes from a lack of care, though.

[2017-02-01 21:54] #130 closed

[2017-02-01 22:34] kimroen opened #132 "Test that generated blueprints are valid CoffeeScript"
Here's an example of a test for generating and destroying `ember g adapter foo`:

[code]

What I want to do is to add a step here after the generator has run (but before it has been destroyed) that compiles the specified file with CoffeeScript and checks that it worked.

This will make sure we keep producing valid CoffeeScript, and should allow us to catch all kinds of bugs.

We could make our own

[2017-02-02 01:28] jakesjews commented on #132
@kimroen I made a small spike for this and wanted to run it past you to see if you like the direction.
I made a test helper file which looks like
[code]
and a test file using it looks like
[code]

[2017-02-02 10:09] kimroen commented on #132
Yeah, that looks like a very good starting point 👍

This project doesn't depend on `coffee-script` directly though - will it work to require it like that anyway? Should we try to compile it using `broccoli-coffee` instead, maybe?

[2017-02-02 14:14] jakesjews commented on #132
I added it to dev dependencies although maybe it would be better to use the implicit dependency from broccoli-coffee

[2017-02-06 20:42] #126 closed

[2017-02-06 20:48] kimroen commented on #132
Fixed by #124 🎉

[2017-02-06 20:48] #132 closed

[2017-02-06 21:36] #121 closed

[2017-02-06 21:50] kimroen opened #134 "Export classes directly instead of saving to variable"
This is the way exporting is done at the moment:

[code]

This is because before CoffeeScript 1.12 when `export` and `import` were reserved words, we had to have those words on separate lines so we could surround them with backtics (which executes the code as JavaScript).

This isn't necessary anymore, so I think we should export directly to more closely resemble the built-in blueprints and learni

[2017-02-06 21:56] kimroen commented on #127
This has now been merged 🎉

[2017-02-06 21:56] #127 closed

[2017-02-06 21:56] wavebeem commented on #127
🎉🎉

[2017-02-06 22:54] kimroen commented on #131
Sorry, I don't think I understand fully what the issue is. I looked around and found this rfc: https://github.com/ember-cli/rfcs/pull/89 - is that related to this, or something else?

Would you mind sketching out a more complete example to help me understand? If you think a PR would make it clear, then please make that and we can work it out there.

Thanks for looking into this 👍

[2017-02-07 21:26] mriska opened #135 "Generated code no longer pass the tests"
Steps to reproduce:

[code]

produces the following error:
[code]

This is due to the way the compiled file looks:

[code]

The variable `bar` does not get defined properly. This issue is related to #134. Directly exporting the functions produces code that passes the tests.

This problem affects at least `helper`, `initializer`, `util`, `serializer`

@kimroen Do you want me to create a PR for the

[2017-02-07 21:35] kimroen commented on #135
@mriska If you have time to go through and update all the blueprints as mentioned in #134 then I would love a PR for that. If not, then I'll make sure to check that this works after making those changes.

Thanks!

[2017-02-07 21:40] mriska commented on #131
I don't think it is directly related to the transpilation issue you mentioned. The problem here is that the `*-addon` blueprints contain coffeescript files. Any addon using `ember-cli-coffeescript` will create these files in the application but the application will not know how to compile them unless the application has `ember-cli-coffeescript` installed. My proposed fix is to change the `*-addon`

[2017-02-07 21:42] kimroen commented on #131
All right, thanks for the clarification! If you use this addon that way and feel this would resolve your issue, then please go ahead. I'm not sure if it's doable, but if you could think of a test we could write to demonstrate the issue, then that would be very useful.

[2017-02-07 21:57] mriska commented on #131
I'm creating a PR with the changes right now. I can't think of a way to write a test for this unfortunately, but I do know that the proposed solution works since I have manually changed the `.coffee` files to `.js` in a few addons after discovering this issue.

[2017-02-07 22:31] mriska commented on #135
I'll see if I can find some time for it tomorrow.

[2017-02-13 10:25] #134 closed

[2017-02-13 10:25] #135 closed

[2017-02-13 12:12] mriska opened #138 "Make `utils` generated files export named function"
@kimroen:

https://github.com/kimroen/ember-cli-coffeescript/pull/137/files/f51b2479cfe013389a766b2a8bedd1ecf801db59#diff-0cf817951560f1b4dff974e60873ea9bR1

[2017-02-13 12:32] kimroen commented on #138
Initializers and helpers do something similar where there's a default export, and then the function is also exported, but named.

The helper is done like this:

[code]

Which generates

[code]

Utils are different though, because they use a default export, which are not named. Some alternatives I can think of:

### 1. Unnamed (what we have now)
#### Coffee

[code]

#### JavaScript

[code]

### 2.

[2017-02-13 19:41] mriska opened #140 "Investigate if addon blueprints can be removed."
The blueprints for addons:
* `addon-import`
* `component-addon`
* `helper-addon`
* `initializer-addon`
* `route-addon`

are now basically similar to the default ember blueprints. Check if it is possible to remove them from this addon completely.

@kimroen:

[2017-02-13 19:49] mriska opened #141 "Add missing `instance-initializer` blueprints"
Coffeescript blueprints for `instance-initializer` is missing. These should be added for completeness.

[2017-02-13 20:50] mriska commented on #138
I did a small test by creating a util `barCoffee.coffee`:
[code]

And the following test passes:
[code]

I am unsure though in what way
`export default barCoffee = () ->` would differ from `export default () ->`, since they both only export the function as a default and not a named export that can be imported with `import { barCoffee } from ...`

But number **2** on your list definitely works, I j

[2017-02-15 12:27] #131 closed

[2017-02-15 12:34] kimroen commented on #138
I don't completely understand what (if any) benefit it has either. It could be completely irrelevant in the context of an export/import, but in general if an anonymous function is assigned to a variable, then the browser will figure out the name and show it in the stack trace. It could be that I am mixing up variable assignment with objects with a function value, though.

The most pragmatic approa

[2017-02-15 12:34] #138 closed

[2017-02-15 12:37] mriska commented on #138
@kimroen Sounds good!

[2017-02-20 01:55] ckl1989 opened #142 "When a route doesn't have a model property defined and the route is hit, the route is unrecognized"
This seems to only happen to coffeescript routes as I tried it with es6 on embertwiddle and didn't run into any problems.

I have the following code:

[code]

which translates to:

[code]

When I access this route through URL, I get the following error message in console:

[code]

It looks like it can't find that route without the model property because when I uncomment the model property above, i

[2017-02-20 02:06] ckl1989 commented on #142
The issue was in my source code. I was using Ember.Route.extend vs Ember.Route.extend().

Closing issue

[2017-02-20 02:06] #142 closed

[2017-03-26 15:11] kimroen commented on #65
Now that CoffeeScript supports things like `import` and `export`, it could be that using `js2coffee` as suggested previously is feasible.

[2017-03-26 15:13] kimroen commented on #68
This coffeelint-rule isn't as mandatory as it once was now that CoffeeScript supports `import` and `export` directly.

I don't think adding this generator is worth doing.

[2017-03-26 15:13] #68 closed

[2017-03-26 15:17] kimroen commented on #122
Hi! Sorry, I don't think I understand what you're asking about here. Would you mind expanding a little on what you were hoping to achieve with this if you can recall?

Thanks!

[2017-04-10 13:55] wellington1993 opened #143 "Ember generate: `ember-cli/ext/promise` is deprecated"
Hi,

I got this message when I use 'ember geneate':

[code]

My versions:

Related Line :
`var Promise    = require('ember-cli/lib/ext/promise');
`
I need do anything? Sorry if not relevant.
Thanks

[2017-04-20 08:09] toovy opened #144 "Support coffeescript 2"
Hi there,

Coffeescript 2 is getting real: http://coffeescript.org/v2/ (https://github.com/coffeescript6/discuss/issues/80).

It supports many **ES2015 features**. The reason why I would love to see it in ember is the **async/await** and **generator** support. The most important reason though is that the nasty import/export hacks using backticks to write plain JS is not needed any more:

[code]

I

[2017-04-27 08:38] boris-petrov commented on #144
+1 I would also *love* to see that - I want `async/await`!

@toovy - btw, you can drop the backticks even now - with `CoffeeScript 1.12.5`. :)

[2017-05-04 17:59] auvipy commented on #144
can we test it in another branch?

[2017-05-18 08:31] auvipy commented on #144
1.12.6 released

[2017-06-28 14:34] mriska opened #146 "Blueprints do not work with new ember-cli"
[code]

[2017-06-28 15:28] boris-petrov commented on #144
@kimroen - can you help on this one? We all would like to use CoffeeScript 2!

[2017-06-30 11:56] mriska commented on #146
In order to **temporarily** work around these issues you can make a change in the file:
`node_modules/ember-source/blueprints/route/index.js`

Change any instance of `options.locals.moduleName` to `options.dasherizedModuleName` and it should work.

[2017-08-01 13:26] perlun commented on #146
I am seeing the exact same problem. Has anyone had the chance of investigating this further?

[2017-11-07 13:17] boris-petrov opened #148 "Tests are not generated for CoffeeLint"
That is, in addition to having `CoffeeLint's` output in my console when I run `ember server`, I would also like to have tests generated and be able to run them with `ember test`. Is this possible?

[2017-11-09 14:02] alexphys commented on #146
Same here
[code]

[2017-11-15 15:13] nikdojo commented on #144
Guys, do you have any updates?

[2018-02-09 22:30] kosmonaffft commented on #144
Is this project still alive?

[2018-04-06 12:03] 1c7 commented on #146
Same here

![image](https://user-images.githubusercontent.com/1804755/38420195-8cac6acc-39d5-11e8-9769-c21383e3dbee.png)

[2018-04-20 14:58] olleolleolle opened #150 "Cannot find module 'ember-cli/lib/ext/promise' on "ember help g""
I'm using ember-cli 3.1 and Ember.js 3.0.

This is the failure when I list generators:

<details>

[code]

And in the stack trace:

[code]

<summary>Output of: $ ember help g</summary>

</details>

## Proposed fix

Release a new version.

## Workaround

**Current workaround**: refer to the master version in `package.json`:

[code]

My guess: those things which were deprecation warnings before, the

[2018-04-20 14:59] olleolleolle commented on #150
Is it time to release a new version?

[2018-04-26 07:38] mriska commented on #150
Hi @kimroen, is it possible to release a version `1.16.2` from master? The generators do not work in the current version with ember-cli 3.0.0 or greater. I know that CoffeeScript usage is diminishing, but there are still a bunch of us that are using your excellent addon and we want to keep using the latest build tools.

[2018-04-26 07:56] olleolleolle commented on #150
**Current workaround**: refer to the master version in `package.json`:

[code]

[2018-11-30 14:22] yaxinr commented on #107
my solution
app\routes\app-route-mixin.coffee

    export default Mixin.create()

app\routes\application.js

[code]